.header {
  background-color: #f5f5f5;
  line-height: 2;
  margin: 0 0 50px;
}

.header-linner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .title {
    display: flex;
    align-items: center;
    span {
      font-size: 22px;
      font-weight: bloder;
      font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    }
  }
  .site-nav {
    .site-nav-toggle {
      display: flex;
      align-items: center;
      button {
        padding: 0 0;
        background: transparent;
        border: none;
      }
      .btn-bar {
        display: block;
        width: 22px;
        height: 2px;
        background: #555555;
        border-radius: 1px;
      }
      .btn-bar + .btn-bar {
        margin-top: 4px;
      }
    }
  }
  .nav {
    .menuItem {
      display: inline-block;
      margin-right: 10px;
      font-size: 13px;
      .fa {
        margin-right: 5px;
      }
      .menuItemIcon {
        margin-right: 5px;
      }
      a {
        display: block;
        text-decoration: none;
        color: #555555;
        padding: 0 10px;
        &:hover {
          background: #cccccc;
          transition-property: background;
          transition-duration: 0.2s;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;
          border-radius: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: none;
  }
}